.app {
  display: flex;
}

aside.primary-aside {
  width: 200px;
}

main {
  flex: 1;
}

.sidebar {
    background: #efefef;
    position: absolute;
    /*width: 250px;*/
    height: 100%;
    padding-top: 20px;

    width: 220px;
    position: absolute;
    height: 100%;
    /*background: white;*/
    padding-top: 60px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);

}

.sidebar ul {
  padding: 0;
  margin: 0;
}

.sidebar .xp-side-nav-links li{
    list-style: none;
    margin-bottom: 10px;
}


.sidebar .xp-side-nav-links li  a {
    
   padding: 15px 25px;
    display: block;
    color: #444444;
    line-height: 1.3;
  
}

.sidebar .xp-side-nav-links li  a:hover {
    text-decoration: none;
    color:#2b9ac9;
    background: #fafafa;
}

.sidebar .xp-side-nav-links li  a:visited {
    text-decoration: none;
}

.sidebar .xp-side-nav-links li  a.active {                        
    color: white;
    background: #5e5e5e;
    text-decoration: none;
}

.header {
    padding: 10px 20px;
    background: #0474af;
    color: white;
    font-size: 18px;
}

.app-content {
  padding-left: 240px;
  padding-right: 20px;
  margin-top: 30px;
}

.app-content .content-header {
  margin-bottom: 20px;
  margin-top: 10px; 
  /*border-bottom: 1px solid #dedede;*/
  
}

.app-content .content-header .title {
  font-size: 24px;
  margin-bottom: 20px;
  /*font-weight: bold;*/
  padding: 0 0 0 6px;
  color: #696969
}

.table .col-1 {
  width: 30px;
}

.table i.fa {
  padding-left: 4px; 
}

.table .col-2 {
  width: 60px;
}

.active {
  color: green;
}

.form-buttons .btn {
  margin-left: 10px;
}

.notify-panel-holder {
  margin-top: 30px;
  color: black;
  font-size: 30px;
}
.total {
  font-size: 40px;
}

.total-amount {
  color: green;
}
/*.row notify-panel-holder .show {
  display: block;
}*/