.app {
  display: flex;
}

aside.primary-aside {
  width: 200px;
}

main {
  flex: 1;
}

.sidebar {
    background: #efefef;
    position: absolute;
    width: 250px;
    height: 100%;
    padding-top: 20px;
}

.sidebar .xp-side-nav-links li{
    list-style: none;
    margin-bottom: 10px;
}

.header {
    padding: 10px 20px;
    background: black;
    color: white;
    font-size: 18px;
}

.app-content {
  padding-left: 270px;
  padding-right: 20px;
}

.app-content .content-header {
  margin-bottom: 20px;
  margin-top: 10px; 
}

.app-content .content-header .title {
  font-size: 18px;
  margin-bottom: 20px;
  /*display: block; */
  font-weight: bold;
}

.table .col-1 {
  width: 30px;
}

.table i.fa {
  padding-left: 4px; 
}

.table .col-2 {
  width: 60px;
}

.active {
  color: green;
}

.form-buttons .btn {
  margin-left: 10px;
}

.notify-panel-holder {
  margin-top: 30px;
  color: black;
  font-size: 30px;
}
.total {
  font-size: 40px;
}

.total-amount {
  color: green;
}
/*.row notify-panel-holder .show {
  display: block;
}*/